/* Reset básico */
* {
  margin: 0;
  padding: 0;
 
  box-sizing: border-box;
}

/* Estilos para html e body */
html, body {
  height: 100%;
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, Roboto,
    "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  background: url('img/background.jpg') center center / cover no-repeat;
 
}

/* Estilos para o header */
header {
  background-color: #fff;
  padding: 0; /* Remove padding para a faixa fina */
  border-bottom: 1px solid #eaeaea;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: relative;
}

/* Adiciona a animação rotativa */
@keyframes rotate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Estilos para a barra de informações */
.info-bar {
  height: 30px; /* Altura reduzida para a faixa fina */
  overflow: hidden;
  white-space: nowrap;
  background-color: #f8f8f8; /* Cor de fundo suave */
  border-bottom: 1px solid #eaeaea;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #333;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.info-bar-content {
  display: flex;
  align-items: center;
  gap: 40px; /* Espaçamento maior entre os itens */
  animation: rotate 20s linear infinite; /* Adiciona a animação rotativa */
}

/* Reduz o tamanho da logo */
.logo {
  height: 20px; /* Ajuste o tamanho conforme necessário */
  margin-right: 10px; /* Espaçamento entre a logo e o próximo item */
}

/* Estilo dos ícones */
.info-bar i {
  font-size: 18px;
  color: #03b045; /* Cor de destaque para os ícones */
}

/* Espaçamento entre o ícone e o texto */
.info-bar a {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaço entre o ícone e o texto */
  text-decoration: none; /* Remove a sublinha dos links */
  color: #333; /* Cor do texto */
}

.info-bar a:hover {
  color: #08b44a; /* Cor de destaque ao passar o mouse */
}

/* Espaçamento específico entre ícones */
.info-bar span {
  display: flex;
  align-items: center;
  gap: 20px; /* Espaço entre os ícones */
}

/* Estilos para o nav */
#nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: saturate(180%) blur(20px);
  padding: 1rem;
}

#nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

#nav ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  display: flex;
  align-items: center;
}

#nav ul li a i {
  margin-right: 8px;
}

#nav ul li a:hover {
  color: #ffffff;
}

/* Estilos para o carousel */
.carousel {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-image {
  height: 300px;
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  position: absolute;
  top: 50%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transform: translateY(-50%);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Estilos para a seção de categorias */
.categories {
  background-color: #f5f5f5; /* Cor de fundo clara para destacar a seção */
  padding: 20px; /* Espaçamento interno */
  text-align: center; /* Alinha o texto ao centro */
  border-top: 1px solid #eaeaea; /* Linha superior sutil */
}

.categories h2 {
  font-size: 24px; /* Tamanho da fonte do título */
  margin-bottom: 20px; /* Espaço abaixo do título */
}

.category-list {
  display: flex; /* Layout flexível para os itens */
  justify-content: center; /* Alinha os itens ao centro */
  gap: 20px; /* Espaço entre os itens */
}

.category-item {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza o conteúdo verticalmente */
  align-items: center;
  text-decoration: none;
  color: #333;
  width: 100%; /* O container ocupará toda a largura disponível */
  height: 120px; /* Define uma altura menor para deixar o container mais fino */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-item img {
  width: 100%; /* A imagem ocupará toda a largura do container */
  height: 100%; /* Ajusta automaticamente a altura */
  object-fit: contain; /* Mantém a proporção da imagem sem cortar */
  border-radius: 8px; /* Bordas arredondadas */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-item span {
  margin-top: 10px; /* Espaço acima do texto */
  font-size: 18px; /* Tamanho da fonte do texto */
}

.category-item:hover img {
  transform: scale(1.1); /* Aumenta a imagem ao passar o mouse */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
}

.category-item:hover span {
  color: #08b44a; /* Cor do texto ao passar o mouse */
}


/* Estilos para a seção de produtos */
.produtos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.produtos .produto {
  width: calc(33.333% - 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.produtos .produto img {
  width: 100px;
}

/* Estilos para o footer */
footer {
  background-color: #ffffff;
  color: #555555;
  text-align: center;
  padding: 15px;
  border-top: 1px solid #dddddd;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer p {
  margin: 0;
  font-size: 14px;
}
